.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  font-size: 11px;
}
.titleP {
  white-space: nowrap;
  z-index: 1;
  margin-top: 0px;
}

.sidebar {
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
  background-color: rgb(29, 27, 27);
  color: rgb(255, 255, 255);
  margin-left: -10px;
  margin-top: -10px;
}

.sidebarItem {
  padding: 10px;
  /* margin: 5px; */
  cursor: pointer;
  margin-top: 10px;
}

.appLogo {
  margin-left: 20px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}

.noteHeaderTitle {
  margin-left: 10px;
  font-weight: 550;
  font-size: 16px;
}
.sidebarNotesList {
  margin-top: 30px;
  margin-left: 10px;
}

.main {
  flex-basis: 84.25%;
  display: flex;
  flex-direction: row;
}

.notesDiv {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
}

.noteDiv {
  background-color: #ffffff;
  /* border: 1px solid #dddddd6f; */
  padding: 10px;
  width: 100%;
  width: 850px;
  min-height: 200px;
  max-height: 92vh;
  margin-left: 5px;
  word-wrap: break-word;
  overflow-y: scroll;
  overflow-x: scroll;
  margin-top: 35px;
}

.noteTitle {
  margin: 0;
}

.inputDiv {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0px;
  max-height: 100vh;
  overflow-y: scroll;
  margin-left: 5px;
}

.titleInput {
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.titleInput::placeholder {
  opacity: 0.35;
}

.tinymce {
  flex: 1;
}

.submitNote {
  width: 10vw;
  height: 3.5vh;
  margin-left: 0.5vw;
  margin-top: 3px;
  margin-bottom: 10px;
  border: transparent;
  border-radius: 8px;
}

.submitNote:hover {
  background-color: rgb(102, 169, 155);
}

.removeNote {
  position: absolute;
  top: 5px;
  right: 15px;
  border: none;
  background-color: #ca0404;
  color: #ffffff;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 8px;
}

.removeNote:hover {
  background-color: #bbb;
  color: white;
}
